button,
a {
    background: transparent;
    font-size: 19px;
    border: none;
    color: white;
    text-decoration: none;
}
button {
    font: icon;
}

button:hover,
a:hover {
    cursor: pointer;
} 

input[type="text"], select {
    height: 30px;
    margin: 2px 2px 2px 0px;
    border: 1px solid;
    flex-direction: column;
    line-height: 1.42857143;
    color: rgb(59, 56, 56);
    background-color: #fff;
    border: 1px solid #ccc;
}
select {
    padding-top: 6px;
    height: 34px;
    padding-right: 19px;
}
input[type="text"], select, textarea {
    border-radius: 2px;   
}

@media (max-width: 768px) {
    input[type="text"], select, textarea {
        width: 100%;
        margin-top: 8px;
        padding-left: 5px;
    }
}

@media (min-width: 768px) {
    input[type="text"], select, textarea {
        width: 251px;
        padding-left: 5px;
        padding-right: 19px;
    }
    header {
        width: 100%;
    }
}

input:focus {
    padding-left: 5px;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}

.prl-articles {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.prl-articles article {
    padding: 3rem;
    border: 2px solid;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

article a {
    color: #5064c7;
}
article a:hover {
    color: #0b2ac3;
    font-weight: bold;
}

.prl-articles article:hover {
    box-shadow: 5px 7px 24px 2px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
}

.prl-articles img {
    transition: all 400ms;
    align-self: center;
    border-radius: 40px;
    border: none;
}
.prl-articles figcaption {
    width: 144px;
}

.button--delete {
    background-color: maroon;
    position: absolute;
    left: 85px;
    bottom: 0%;
    border-radius: 10px;
    padding: 0.3rem;
    margin-bottom: 6px;
}

@media (max-width: 768px) {
    .prl-articles img {
        width: 9em;
    }
}

@media (min-width: 768px) {
    .prl-articles img {
        width: 9em;
    }

    .prl-articles article {
        /* margin: 3rem; */
        padding: 3rem;
        border: none;
    }
}

.playlist--item {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.playlist--content {
    flex-grow: 1;
    text-align: center;
}

.header-content {
    text-align:center;
}
.header-content > .header-title {
    width: 100%;
    color: white;
    background: #00a65a;
    border-radius: 2px;
    text-align: center;
    margin: 6px 0px 12px 0px;
    padding-top: 12px;
    height: 33px;
}

@media (min-width: 768px) {
    .header-content > .header-title  {
        max-width: 80%;
        text-align: center;
        display: inline-block;
    }
}

.box, .box-default {
    border: 0px solid;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.box {
    background-color: white;
}
.box-default{
    background-color: none;
}


@media (max-width: 768px) {
    .box, .box-default {
        max-width: 100%;
    }
}

@media (min-width: 768px) { 
    .box, .box-default {
        max-width: 80%;
        width: 100%;
        text-align: left;
        display: inline-block;
    }
    .box-center {
        text-align: center;
    }
    .box-content {
        display: flex;
        flex-flow: wrap;
    }
    .box-campo {
        flex-grow: 2;
    }
}

.box-footer {
    border-top: 1px solid #f4f4f4;
}
.button-green, .button-red {
    color: white;
    background-color: #00a65a;
    padding: 8px 16px 8px 16px;
    margin: 8px 9px 8px 8px;
    float: right;
    border-radius: 3px;
}
.button-green {
    background-color: #00a65a;
}
.button-red {
    background-color: #a60008;
}

.box-footer-campo {
    float: right;
    margin: 6px 9px 8px 8px;
}

.box-campo {
    padding: 10px 10px 10px 10px;
}
.box-campo > label {
    margin-right: 20px;
}
.box-header-campo > label {
    margin-left: 20px;
}
.box-header-campo > .box-campo {
    margin-left: 20px;
}
.label-radius-check {
    vertical-align: super;
}

.show-all {
    display: none;
    cursor: pointer;
    color: #5064d0;
}
.show-all:hover {
    color: blue;
}
