#myBtn {
    display: contents;
}

.modal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: -1px;
    width: 100%;
    height: 101%;
    overflow: auto;
    background-color: rgb(34, 45, 50);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 45, 50);
    margin-left: 14px;
    width: 88%;
    height: 100%;
    color: white;
    font-size: 20px;
}

.close {
    position: absolute;
    right: 5%;
    top: 2%;
    color: #aaaaaa;
    font-weight: bold;
    font-size: 41px;
}

.close:hover,
.close:focus {
    color: rgb(134, 132, 132);
    text-decoration: none;
    cursor: pointer;
}

#modal {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.form--campo {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 3rem;
    padding: 1.5rem 0;
}

.form--campo label {
    margin: 1rem 0;
    white-space: nowrap;
    font-size: 20px;
}

.form--campo input {
    padding: 0.8rem;
    border-radius: 10px;
}

.form--button {
    flex-direction: column;
    display: flex;
}
.form--button-form {
    flex-grow: 1;
    padding: 1rem;
    border-radius: 50px;
    margin: 0.5rem;
}
.form--button :first-child {
    background-color: seagreen;
}

.form--button :last-child {
    background-color: maroon;
}

.form--campo-check {
    display: flex;
    margin: 3rem;
}

.form--campo-check label {
    margin-right: 2rem;
    font-size: 20px;
}
.modal-content h3 {
    text-align: center;
}
@media (min-width: 768px) {
    /* #modal {
        height: auto;
    } */
    .modal {
        position: initial;

        border-radius: 10px;
        width: 368px;
        height: 451px;
        margin: 20px auto;
    }
    .modal-content {
        display: flex;
        margin-left: 0px;
        width: 100%;
        border: none;
    }

    .form--campo {
        padding: 0;
        margin: 4rem;
    }

    .form--campo label {
        flex: 1 1 25%;
        margin-bottom: 1rem 0;
        white-space: nowrap;
        font-size: 20px;
    }

    .form--campo input {
        flex: 1 1 35%;
        border-radius: 100px;
        padding: 0.5rem;
    }
    .form--campo-check {
        margin: 4rem;
    }

    .form--campo-check input {
        align-self: center;
    }
    .form--button {
        display: flex;
        justify-content: center;
        margin: 0px 2rem;
    }

    .form--button button {
        margin: 0.5rem;
    }

    .close {
        position: absolute;
        right: 12%;
        color: #aaaaaa;
        font-size: 28px;
        font-weight: bold;
    }
}
