a.selected {
    background-color: #1f75cc;
    color: white;
    z-index: 100;
}

.messagepop {
    background-color: #17252b;
    border: 1px solid #999999;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    display: none;
    margin-top: 15px;
    position: absolute;
    text-align: left;
    width: 10%;
    z-index: 2000;
    padding: 25px 25px 20px;
    padding: 1rem;
    top: 50%;
}

button {
    display: block;
    margin-bottom: 3px;
    padding-left: 15px;
    text-indent: -15px;
}

.messagepop p,
.messagepop.div {
    border-bottom: 1px solid #efefef;
    margin: 8px 0;
    padding-bottom: 8px;
}
