.content {
    margin: 0px;
    font-size: 22px;
    overflow-x: hidden;
}

/* Header and Footer*/
.prl-header,
.content > footer {
    display: flex;
    background-color: rgb(23, 37, 43);
    padding: 8px 8px 9px;
    color: white;
}
.content > footer {
    bottom: 0;
    position: absolute;
    width: -webkit-fill-available;
}

.prl-header > .prl-header-right {
    flex-grow: unset;
    border-left: ridge 2px white;
}
.prl-header > .header-title{
    flex-grow: 10;
}
.header-title > a{
    text-decoration: none;
    color: white;
}

@media (max-width : 768px) {
    .prl-header > .header-title {
        text-align: center;
    }
}

@media (min-width : 768px) {
    .prl-header > .header-title {
        text-align: left;
        margin-left: 25px;
    }
}
.prl-header > .menu-toggle{
    width: 36px;
    display: block;
    margin: 2px;
    cursor: pointer;
}
.prl-header > .menu-toggle:before,
.prl-header > .menu-toggle:after {
    display: block;
    height: 4px;
    content: '';
    background-color: white;
    transition: all 400ms;
}
.prl-header > .menu-toggle:before  {
    margin-bottom: 16px;
    box-shadow: 0 10px 0 white;
}

.prl-header > .menu-toggle:hover:before ,
.prl-header > .menu-toggle:hover:after {
    margin-left: 4px;
}

.prl-header > .active:before ,
.prl-header > .active:after {
    transform: rotate(360deg);
}

/* Menu */
.prl-menu {
    left: -20em;
    -webkit-flex-basis: 1e-9px;
    position: relative;
    transition: all 400ms;
    display: flex;
    flex-flow: column;
    list-style: none;
    flex-grow: 2;
    background-color: rgb(34, 45, 50);
}
.prl-menu.active{
    left: 0;
    min-width: fit-content;
}

.prl-menu > li{
    background-color: rgb(34, 45, 50);
    padding: 10px 10px 10px 20px;
    text-align: left;
    cursor: pointer;
}
.prl-menu > li > a {
    color: white;
    text-decoration: none;
}
.prl-menu > li:hover {
    background: rgb(6, 25, 16);
    margin-left: 2px;
}

/* Main */
.prl-iframe {
    flex-grow: 12;
    left: -6em;
    width: 100%;
    min-width: -webkit-fill-available;
    position: relative;
    transition: all 400ms;
}
.prl-iframe > iframe {
   width: 100%;
   height: 100%;
}
.prl-iframe.active {
    left:0;
    width: auto;
    min-width: unset;
}

/* Menu and Main */
.prl-content{
    display: flex;
    background: #ecf0f5;
    /* cambiar */
    position: absolute;
    min-width: 100%;
    min-height: 92%;
}
